<h2>My Galleries</h2>

<nav>
	<%= link_to "New gallery", new_gallery_path %>
	<!-- <%= link_to "New gallery", "/galleries/new" %> -->
</nav>


<ul>
	<% @galleries.each do |gallery| %>
    <li>
			<%= link_to gallery.name, gallery_path(gallery) %> <!-- rails will auto-call method id on any object to get an integer so gallery.id becomes just gallery -->
			<!-- <%= link_to gallery.name, "/galleries/#{gallery.id}" %> -->
		</li>
	<% end %>
</ul>
	