<body class="form-background">
  <div class="form">
    <%= form_for(@gallery) do |form| %>
    <%= render "form_errors", target: @gallery %>
    <%= form.text_field :name %>
      <div class="form-button">
        <%= form.submit "Create Gallery" %>
      </div>
    <% end %>
  </div>
</body>
