
@import "bourbon";
@import "bitters/bitters";
@import "neat";




header.navigation {
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .menu-wrapper {
//    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;    
    max-height: $navigation-height;
    padding-left: 1em;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  .menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    @include media ($large-screen) {
      float: left;
    }
  }

  ul#navigation-menu {    
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: $navigation-color;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }
	

	
	

  .sign-up {
    @include media ($large-screen) {
      @include position(absolute, 0px 325px 0 0);
      padding-right: 1em;

      a {
        @include transition (all 0.2s ease-in-out);
        background: $navigation-nav-button-background;
        border-radius: $base-border-radius; 
        color: white;
        font-size: .8em;  
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase;

        &:hover {
          background: lighten($navigation-nav-button-background, 10);
        }
      }
    }
  }
	
  .subscribe {
    @include media ($large-screen) {
      @include position(absolute, 0px 420px 0 0);
      padding-right: 1em;

      a {
        @include transition (all 0.2s ease-in-out);
        background: $navigation-nav-button-background;
        border-radius: $base-border-radius; 
        color: white;
        font-size: .8em;  
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase;

        &:hover {
          background: lighten($navigation-nav-button-background, 10);
        }
      }
    }
  }

  li.navigation-search-bar {
    display: none;

    @include media($large-screen) {
      @include position(absolute, -2px 0px 0 0);
      display: inline-block;
      line-height: 0 !important;
      padding: 13px 30px; // this to get around Firefox/Opera line-height "bug"
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    width: 19em;
    position: relative; 
    display: inline-block;

    input {
      @include box-sizing(border-box);
      display: block;
    }

    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        @include position(absolute, 0.3em 0.3em 0.3em 0);
        outline: none;
        padding: 5px 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }
  }
}

.sign-in-status {
	float: right;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.form {
  border: 1px solid black;
	border-radius: 0.4em 1.5em 0.4em 1.5em;
  background-color: rgba(18, 18, 18, 0.8);
  width: 400px; 
  min-height: 130px;

	margin-top: 200px;
  margin-left: auto;
  margin-right: auto; 
  padding: 15px;
  line-height: 50px; 
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:3s;
    animation-delay: 1.5s
}

.form:hover {
      opacity: 1;
      }

.form-background 
{
background-image:url('http://www.hdpaperwall.com/wp-content/uploads/2013/10/background.jpg');
}

.layout-background 
{
background-image:url('http://newhdpics.com/wp-content/uploads/2013/11/Gradient-and-Light-wallpaper.jpg');
}

.form-button {
	text-align: center;
}













/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
